<ion-header>
  <ion-toolbar
    class="ion-color"
    [style.backgroundColor]="datasetService.getTitleColor()"
    [style.color]="datasetService.getTextColor()"
  >
    <ion-buttons slot="start">
      <ion-back-button
        text="{{ backButton }}"
        (click)="backPage()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let race of (race$ | async)">
      <ion-card-header *ngIf="datasetService.is('cof') || datasetService.is('cof2')">
        <ion-card-subtitle>
          <ion-badge color="medium" *ngIf="hasMod(race?.mod_for)">
            FOR : {{ race?.mod_for > 0 ? '+' : '' }}{{ race?.mod_for }}
          </ion-badge>
          <span *ngIf="hasMod(race?.mod_for)">&nbsp;</span>
          <ion-badge color="medium" *ngIf="hasMod(race?.mod_dex)">
            {{ getName("DEX") }} : {{ race?.mod_dex > 0 ? '+' : '' }}{{ race?.mod_dex }}
          </ion-badge>
          <span *ngIf="hasMod(race?.mod_dex)">&nbsp;</span>
          <ion-badge color="medium" *ngIf="hasMod(race?.mod_con)">
            CON : {{ race?.mod_con > 0 ? '+' : '' }}{{ race?.mod_con }}
          </ion-badge>
          <span *ngIf="hasMod(race?.mod_con)">&nbsp;</span>
          <ion-badge color="medium" *ngIf="hasMod(race?.mod_int)">
            INT : {{ race?.mod_int > 0 ? '+' : '' }}{{ race?.mod_int }}
          </ion-badge>
          <span *ngIf="hasMod(race?.mod_int)">&nbsp;</span>
          <ion-badge color="medium" *ngIf="hasMod(race?.mod_sag)">
            {{ getName("SAG") }} : {{ race?.mod_sag > 0 ? '+' : '' }}{{ race?.mod_sag }}
          </ion-badge>
          <span *ngIf="hasMod(race?.mod_sag)">&nbsp;</span>
          <ion-badge color="medium" *ngIf="datasetService.is('cof2') && hasMod(race?.mod_vol)">
            VOL : {{ race?.mod_vol > 0 ? '+' : '' }}{{ race?.mod_vol }}
          </ion-badge>
          <span *ngIf="datasetService.is('cof2') && hasMod(race?.mod_vol)">&nbsp;</span>
          <ion-badge color="medium" *ngIf="hasMod(race?.mod_cha)">
            CHA : {{ race?.mod_cha > 0 ? '+' : '' }}{{ race?.mod_cha }} 
          </ion-badge>
          <br />
          <ion-badge color="medium" *ngIf="race?.age_base || race?.esperance_vie">
            Âge : {{ race?.age_base}}+ (max : {{ race?.esperance_vie }})&nbsp; </ion-badge
          ><br />
          <ion-badge color="medium" *ngIf="race?.taille_min || race?.taille_max">
            Taille : {{ race?.taille_min | number:'1.2-2' }}-{{ race?.taille_max
            | number:'1.2-2' }} m&nbsp; </ion-badge
          ><br />
          <ion-badge color="medium" *ngIf="race?.poids_min || race?.poids_max">
            Poids : {{ race?.poids_min }}-{{ race?.poids_max }} kg&nbsp; </ion-badge
          ><br />
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="(traits$ | async) as traits">
        <p
          size="x-small"
          *ngFor="let trait of traits"
        >
          <span *ngIf="trait.intitule !== 'Caracs'">
            <strong>{{ trait.intitule }}</strong> : {{ trait.description }}
          </span>
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="(racials$ | async) as racials">
      <ion-card-content>
        <p
          size="x-small"
          *ngFor="let racial of racials"
        >
          <strong>
            {{ racial.limitation === 1 ? 'Limitation raciale' : 'Capacité
            raciale' }} &#8226; {{ racial.capacite }}
          </strong>
          : {{ racial.description }}
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="notes !== null && notes !== ''">
      <ion-card-content
        [innerHTML]="notes | formatNotes"
      ></ion-card-content>
    </ion-card>
    <ion-card *ngFor="let ability of (abilities$ | async)">
      <ion-card-header>
        <ion-card-title>
          <span *ngIf="ability.rang !== null && ability.rang > 0"
            >{{ ability.rang }}.</span
          >
          {{ ability.nom }} {{ ability.limitee === 1 ? "(L)" : "" }}
          <ion-icon *ngIf="ability.sort === 1 && datasetService.selected.dbid !== 'cog'" name="color-wand-outline"></ion-icon>
          <ion-icon *ngIf="ability.sort === 1 && datasetService.selected.dbid === 'cog'" name="rocket-outline"></ion-icon>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content
        [innerHTML]="ability.description | formatDescription"
      ></ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
