<ion-header>
  <ion-toolbar
    class="ion-color"
    [style.backgroundColor]="datasetService.getTitleColor()"
    [style.color]="datasetService.getTextColor()"
  >
    <ion-buttons slot="start">
      <ion-back-button
        text="Profils"
        (click)="profilesPage()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngIf="profileService.selected !== null && (profileService.selected.description || '' !== '')"
    >
      <ion-card *ngIf="profileService.selected.description || '' !== ''">
        <ion-card-content class="ion-text-justify">
          {{ profileService.selected.description }}
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item
      *ngIf="profileService.selected !== null && (traits$ | async) as traits"
    >
      <ion-card>
        <ion-card-content>
          <p
            size="x-small"
            class="ion-text-justify"
            *ngFor="let trait of traits"
          >
            <strong>{{ trait.intitule }}</strong> : {{ trait.description }}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <div *ngIf="(paths$ | async) as paths">
      <ion-list-header *ngIf="profileService.selected !== null" color="medium"
        >Voies</ion-list-header
      >
      <ion-item button="true" *ngFor="let path of paths">
        <ion-label (click)="showAbilities(path)">
          {{ path.nom }}
          <p
            size="small"
            *ngIf="path.type_voie_intitule !== null && path.type_voie_intitule !== undefined"
          >
            ({{ '*' + path.type_voie_intitule +'*' }})
          </p>
        </ion-label>
      </ion-item>
    </div>
    <ion-item
      *ngIf="attacks !== ''"
    >
      <ion-card-content [innerHTML]="attacks">
      </ion-card-content>
    </ion-item>
    <div
      *ngIf="profileService.selected !== null && (equipments$ | async) as equipments"
    >
      <ion-list-header color="medium">Equipement de départ</ion-list-header>
      <ion-item *ngFor="let equipment of equipments">
        <ion-label text-wrap>
          <h5 [innerHTML]="[ equipment.designation, equipment.special, equipment.nombre ] | formatEquipment">
          </h5>
          <div *ngIf="equipment.props.length !== 0">
            <ion-badge color="medium" *ngIf="equipment.prix && equipment.prix !== 0">
              Prix : {{ equipment.prix }}
            </ion-badge>&nbsp;
            <span *ngFor="let prop of equipment.props" class="ion-text-wrap">
              <ion-badge color="medium">
                {{ prop.nom }} : {{ prop.valeur }}
              </ion-badge>&nbsp;
            </span>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
